<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
<!--     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <div class="navbar">
      <%= image_tag("logo-text.png") %>

      <input id="email" type="text" value="Email"> 
      <input id="password" type="text" value="*********"> 
      <input id="login" type="submit" value="Log in"/>
    </div>
    
    <%= yield %>
  </body>
</html>
