<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
<!--     <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <div class="navbar">
      <img src="/assets/logo-text.png" alt="logo">
      <% if user_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
        </li>
      <% else %>
          <table>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <tr>
              <td>Email or Phone</td>
              <td class="password">Password</td>
            </tr>
            <tr>
              <td><%= f.email_field :email, autofocus: true %></td>
              <td class="password"><%= f.password_field :password, autocomplete: "off" %></td>
              <td class="button"><%= f.submit "Log in" %></td>
            </tr>
            <tr>
              <td></td>
              <td class="password">Forgot account?</td>
              <td></td>
            </tr>
          </table>     
        <% end %>
      <% end %>

    </div>
    
    <%= yield %>
  </body>
</html>
